/* common shared style */
.font-merriweather {
    font-family: 'Merriweather', serif;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

header,
main {
    max-width: 1320px;
    margin: auto;
}

.color-red {
    color: #F00;
}

section {
    margin-bottom: 120px;
}

.heading-text {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}

/* banner related style */
.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;

    background-position: center;
    border-radius: 16px;

}

.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding: 170px 530px 0px 530px;
}

.banner-heading {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0px;
    padding: 0 340px 170px 340px;
}

/* main related style */

/* offer style */
.offer {
    font-family: inter;
    text-align: center;
    margin: 120px 0;
}

.offer-percentage {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0px;
}

.offer-deals {
    margin-top: 48px;
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}

.offer-categories {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
    /* padding: 48px 260px 120px 260px; */
}

.offer-image {
    width: 802.9px;
    height: 500px;
}

/* welcome section related style */
.welcome {
    max-height: 600px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    gap: 90px;
    border-radius: 16px;
    margin-bottom: 180px;
}

.welcome-left-collumn {
    padding: 126px 0 126px 126px;
}

.welcome-right-collumn {

    padding-right: 126px;
}

.img-2024 {
    max-width: 319.83px;
    max-height: 464.662px;
    /* mix-blend-mode: multiply; */
}

.welcome-heading {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    margin-bottom: 0px;
}

.welcome-text {
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.btn-join {
    background-color: #F00;
    color: #FFF;
    padding: 20px;
    border: 0;
    border-radius: 8px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.btn-join:hover{
    background-color: orange;
}
/* join now section style */
.join-now-section-container {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    padding: 100px 300px;
    font-family: inter;
    font-size: 32px;
    font-weight: 600px;
    border-radius: 16px;
}

/* coming soon offer style */
.coming-offer-container {
    display: flex;
    gap: 100px;
    align-items: center;
}

.coming-soon-1 {
    width: 33.33%;
}

.best-offer-text {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}

.coming-soon {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 0px;
}

.coming-soon-text {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
}

.coming-soon-2 {
    width: 33.33%;
}


.coming-soon-img {
    border-radius: 50%;
    padding: 20px;
    border: 15px solid #F00;
    margin-top: 45px;
}

.coming-soon-3 {
    width: 33.33%;
}

.coming-soon-year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

/* portfolio section style */
.portfolio-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.portfolio-image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.portfolio-image{
    transition: transform .2s;
}
.portfolio-image:hover{
    transform: scale(1.2);
}

/* subscribe section style */
.subscribe-container {
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px 210px;
}

.subscribe-img {
    margin-bottom: 40px;
}

input {
    padding: 25px;
    border-radius: 16px;
    border: 0;
    width: 40%;
}

/* footer related style */
footer {
    background-color: #070211;
    padding: 120px 140px;
}

.footer-text {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.contact-container {
    display: flex;
    justify-content: space-between;
}

.contact {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 80px;
}

.contact a {
    color: white;
    text-decoration: none;
}

hr {
    opacity: 15%;
    margin: 50px 0px;
}

/* social media */
.social-media,
a {
    text-align: center;
    margin-right: 24px;
}

.footer-end {
    display: flex;
    justify-content: space-between;
}
.footer-end a{
    text-decoration: none;
}